/*
 * Все паршалы импортировать в этот файл
 */

@import "normalize";
@import "base";
@import "helpers/variables";
@import "helpers/placeholder";
@import "components/header-info";
@import "components/request-form";
@import "components/it-area";
@import "components/footer";
@import "components/find-your-way";
