$primary-white-bg-color: #ffffff;
$primary-black-bg-color: #181c27;
$secondary-white-bg-color: #edf0f2;

$primary-white-color: #ffffff;
$secondary-white-color: #a2a2a2;
$third-white-color: #dbdbdb;

$primary-colorful-color: #00eaff;
$secondary-colorful-color: #f9ae23;

$primary-black-color: #000000;
$primary-black-h2-color: #222222;
$secondary-black-color: #5d6066;

$primary-button-color: #ff6b08;

$primary-border-color: #525252;

$primary-box-shadow-color: rgba(121, 139, 188, 0.48);

$primary-font-family: "Ubuntu", sans-serif;
