.request-form {
  padding: 20px 20px 26px;
  background-color: $primary-white-bg-color;
  margin-bottom: 12px;
  box-shadow: 0 12px 70px $primary-box-shadow-color;

  &__header {
    margin: 0 0 12px;
    color: $primary-black-color;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 700;
  }

//   test's

}
