.request-form {
  padding: 20px 20px 26px;
  background-color: $primary-white-bg-color;
  margin-bottom: 12px;
  box-shadow: 0 12px 70px rgba(121, 139, 188, 0.48);

  &__header {
    margin: 0 0 12px;
    color: $primary-black-color;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 700;
  }

  &__text {
    margin: 0 0 14px;
    color: $primary-black-color;
    font-family: $primary-font-family;
    font-size: 13px;
    font-weight: 300;
  }

  &__name-input,
  &__email-input {
    margin: 0 0 12px;
  }

  &__tel-input {
    margin: 0 0 20px;
  }

  &__button {
    background-color: $primary-button-color;
    width: 100%;
    height: 40px;
    color: $primary-white-color;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__privacy-policy {
    text-align: center;

    a {
      text-decoration: none;
      color: $secondary-black-color;
      font-family: $primary-font-family;
      font-size: 13px;
      font-weight: 400;
    }
  }

  input {
    padding: 14px;
    border: 1px solid $primary-border-color;
    width: 100%;
    height: 40px;
    color: $secondary-white-color;
    font-family: $primary-font-family;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .request-form {
    padding: 34px 78px 40px;
    margin-bottom: 10px;

    &__header {
      margin: 0 0 22px;
      font-size: 24px;
      line-height: 25px;
      text-align: center;
    }

    &__text {
      margin: 0 0 26px;
      text-align: center;
    }

    &__tel-input {
      margin: 0 0 26px;
    }
  }
}

@media screen and (min-width: 1208px) {
  .request-form {
    padding: 44px 36px 50px;
    margin-bottom: 18px;
    width: 460px;

    &__header {
      margin: 0 0 32px;
      line-height: 39px;
      text-align: left;
      font-size: 35px;
    }

    &__text {
      margin: 0 0 32px;
      text-align: left;
      font-size: 18px;
      line-height: 22px;
    }

    &__name-input,
    &__email-input,
    &__tel-input {
      margin: 0 0 38px;
    }

    &__button {
      font-size: 22px;
      height: 60px;
    }

    &__privacy-policy {
      a {
        font-weight: 400;
        font-size: 17px;
      }
    }

    input {
      padding: 24px 16px 22px;
      height: 60px;
      font-size: 18px;
    }
  }
}
